.Layout
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: .5em
  margin: .5em
  background-image: url('../images/city.jpg')
  background-size: cover
  > section
    margin: .5em
  &-main
    display: flex
    justify-content: space-between
  &-status
    width: 200px
  &-battle
    flex: 1
    margin: 0 .5em
    background-image: url('../images/pattern.jpg')
  &-phases
    width: 200px;
  &-antagonist
    display: flex
    justify-content: space-between
  &-player
    display: flex
    justify-content: space-between
