div(class="Card")
  p(class="Card-name") WOLVERINE
  img(src="./public/images/wolverine.jpg", class="Card-image", alt="Wolverine")
  p(class="Card-description") Wolverine es muy poderoso
  p(class="Card-power") Ataque: 500
