@import "./card/styles.styl"
@import "./status/styles.styl"
@import "./battle/styles.styl"
@import "./phases/styles.styl"
@import "./layout/styles.styl"
body
  font-family: arial
  font-size: 16px
  margin: 0
